<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soundsync</title>
    <link rel="stylesheet" href={~p"/assets/css/app.css"} />
  </head>
  <body>
    <div id="root"></div>
    <script src={~p"/assets/js/app.js"}></script>
  </body>
</html>
